In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/us-census-vintage-2020/SUB-EST2020_ALL.csv
/kaggle/input/redfin-housing-market-data/zip_code_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/state_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/neighborhood_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/us_national_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/county_market_tracker.tsv000

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# neighborhood market tracker
nmt_data = '/kaggle/input/redfin-housing-market-data/neighborhood_market_tracker.tsv000'
nmt_df = pd.read_csv(nmt_data, sep='\t')

In [4]:
nmt_df['year'] = nmt_df['period_begin'].astype(str).str[:4]
nmt_clean_df = nmt_df[['city', 'state', 'state_code', 'parent_metro_region','year', 'property_type', 'median_sale_price', 'median_list_price',  'homes_sold',   'new_listings',  'inventory', 'avg_sale_to_list', 'sold_above_list']]

In [5]:
nmt_clean_df['city_state_code'] = nmt_clean_df['city'] + ', ' + nmt_clean_df['state_code']
nmt_clean_df['city_state'] = nmt_clean_df['city'] + ', ' + nmt_clean_df['state']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
metro_city_df = nmt_clean_df.copy()

In [7]:
metro_city_df = metro_city_df[metro_city_df['parent_metro_region'] == metro_city_df['city_state_code']]

In [8]:
metro_city_df = metro_city_df[['city', 'state', 'year', 'property_type', 'median_sale_price', 'median_list_price',  'homes_sold',   'new_listings',  'inventory', 'avg_sale_to_list', 'sold_above_list','city_state']]
final_metro_city_df = metro_city_df.sort_values(by=['state','city','year'])
final_metro_city_df

,city,state,year,property_type,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list,city_state
2294,Birmingham,Alabama,2012,All Residential,7000.0,6000.0,1.0,2.0,1.0,1.000000,0.000000,"Birmingham, Alabama"
3650,Birmingham,Alabama,2012,Single Family Residential,66250.0,59900.0,10.0,15.0,23.0,0.891212,0.000000,"Birmingham, Alabama"
4236,Birmingham,Alabama,2012,Single Family Residential,16400.0,16000.0,1.0,1.0,1.0,1.025000,1.000000,"Birmingham, Alabama"
5036,Birmingham,Alabama,2012,All Residential,40143.5,21000.0,2.0,3.0,5.0,0.612559,0.000000,"Birmingham, Alabama"
7779,Birmingham,Alabama,2012,Single Family Residential,5000.0,9500.0,7.0,3.0,2.0,0.976740,0.142857,"Birmingham, Alabama"
...,...,...,...,...,...,...,...,...,...,...,...,...
8890660,Wausau,Wisconsin,2021,Multi-Family (2-4 Unit),121450.0,159900.0,2.0,1.0,NaN,1.000603,0.500000,"Wausau, Wisconsin"
8912328,Wausau,Wisconsin,2021,All Residential,129450.0,140400.0,4.0,2.0,1.0,0.984099,0.250000,"Wausau, Wisconsin"
8954218,Wausau,Wisconsin,2021,Single Family Residential,217450.0,191900.0,8.0,9.0,3.0,1.018624,0.500000,"Wausau, Wisconsin"
8967510,Wausau,Wisconsin,2021,All Residential,370200.0,NaN,1.0,NaN,NaN,1.000000,0.000000,"Wausau, Wisconsin"
8998542,Wausau,Wisconsin,2021,All Residential,124900.0,120000.0,19.0,11.0,7.0,0.958485,0.157895,"Wausau, Wisconsin"

In [9]:
avg_metro_city_df = final_metro_city_df.groupby(['state','city','year']).mean()
avg_metro_city_df

                           median_sale_price  median_list_price  homes_sold  \
state     city       year
Alabama   Birmingham 2012       57384.296557       67893.739624    8.878474
                     2013       66344.273746       74351.422040    9.032205
                     2014       70098.425993       81849.202413    8.996390
                     2015       79729.725885       90792.503567    9.851038
                     2016       80679.375047       90163.174711   10.227933
...                                      ...                ...         ...
Wisconsin Wausau     2017       99134.194352      112889.297348    6.950166
                     2018      109080.960756      124096.489547    6.203488
                     2019      116721.181818      128579.170608    6.478788
                     2020      138387.524242      139785.266904    6.606061
                     2021      177826.563518      179975.070312    6.123779

                           new_listings  inventory  avg_sale_to_list  \
state     city       year
Alabama   Birmingham 2012      9.725227  12.656339          0.940236
                     2013     10.543582  13.532547          0.936129
                     2014     10.369037  12.836051          0.923832
                     2015     13.921368  16.484954          0.936096
                     2016     14.834154  18.202681          0.939088
...                                 ...        ...               ...
Wisconsin Wausau     2017      7.988636   9.498069          0.944456
                     2018      7.738676   7.291096          0.959429
                     2019      7.570946   7.135531          0.978557
                     2020      8.330961   6.773723          0.983344
                     2021      7.453125   5.573333          0.998283

                           sold_above_list
state     city       year
Alabama   Birmingham 2012         0.196265
                     2013         0.231281
                     2014         0.187699
                     2015         0.205693
                     2016         0.213592
...                                    ...
Wisconsin Wausau     2017         0.169535
                     2018         0.180666
                     2019         0.267435
                     2020         0.321587
                     2021         0.449625

[2705 rows x 7 columns]

In [10]:
merged_df = avg_metro_city_df.copy()
merged_df = merged_df.reset_index()
merged_df['city_state'] = merged_df['city'] + ', ' + merged_df['state']
merged_df

,state,city,year,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list,city_state
0,Alabama,Birmingham,2012,57384.296557,67893.739624,8.878474,9.725227,12.656339,0.940236,0.196265,"Birmingham, Alabama"
1,Alabama,Birmingham,2013,66344.273746,74351.422040,9.032205,10.543582,13.532547,0.936129,0.231281,"Birmingham, Alabama"
2,Alabama,Birmingham,2014,70098.425993,81849.202413,8.996390,10.369037,12.836051,0.923832,0.187699,"Birmingham, Alabama"
3,Alabama,Birmingham,2015,79729.725885,90792.503567,9.851038,13.921368,16.484954,0.936096,0.205693,"Birmingham, Alabama"
4,Alabama,Birmingham,2016,80679.375047,90163.174711,10.227933,14.834154,18.202681,0.939088,0.213592,"Birmingham, Alabama"
...,...,...,...,...,...,...,...,...,...,...,...
2700,Wisconsin,Wausau,2017,99134.194352,112889.297348,6.950166,7.988636,9.498069,0.944456,0.169535,"Wausau, Wisconsin"
2701,Wisconsin,Wausau,2018,109080.960756,124096.489547,6.203488,7.738676,7.291096,0.959429,0.180666,"Wausau, Wisconsin"
2702,Wisconsin,Wausau,2019,116721.181818,128579.170608,6.478788,7.570946,7.135531,0.978557,0.267435,"Wausau, Wisconsin"
2703,Wisconsin,Wausau,2020,138387.524242,139785.266904,6.606061,8.330961,6.773723,0.983344,0.321587,"Wausau, Wisconsin"
2704,Wisconsin,Wausau,2021,177826.563518,179975.070312,6.123779,7.453125,5.573333,0.998283,0.449625,"Wausau, Wisconsin"

In [11]:
# census
census_data = '../input/us-census-vintage-2020/SUB-EST2020_ALL.csv'
census_df = pd.read_csv(census_data, encoding='cp1252')

In [12]:
census_df2 = census_df.drop(columns=['SUMLEV','STATE', 'COUNTY','PLACE','COUSUB','CONCIT','PRIMGEO_FLAG','FUNCSTAT', 'POPESTIMATE2010','ESTIMATESBASE2010'])
census_df2.head()

,NAME,STNAME,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020
0,Alabama,Alabama,4779736,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4920706,4921532
1,Abbeville city,Alabama,2688,2694,2645,2629,2610,2602,2587,2578,2565,2555,2555,2553
2,Adamsville city,Alabama,4522,4474,4453,4430,4399,4371,4335,4304,4285,4254,4224,4211
3,Addison town,Alabama,758,750,745,744,742,734,734,728,725,723,719,717
4,Akron town,Alabama,356,347,347,344,338,338,335,332,332,328,328,327

In [13]:
census_df2['city_state'] = census_df2['NAME']+ ', ' + census_df2['STNAME']
census_df2

,NAME,STNAME,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE042020,POPESTIMATE2020,city_state
0,Alabama,Alabama,4779736,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4920706,4921532,"Alabama, Alabama"
1,Abbeville city,Alabama,2688,2694,2645,2629,2610,2602,2587,2578,2565,2555,2555,2553,"Abbeville city, Alabama"
2,Adamsville city,Alabama,4522,4474,4453,4430,4399,4371,4335,4304,4285,4254,4224,4211,"Adamsville city, Alabama"
3,Addison town,Alabama,758,750,745,744,742,734,734,728,725,723,719,717,"Addison town, Alabama"
4,Akron town,Alabama,356,347,347,344,338,338,335,332,332,328,328,327,"Akron town, Alabama"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81410,Balance of Washakie County,Wyoming,2786,2756,2735,2736,2691,2690,2654,2599,2556,2537,2514,2516,"Balance of Washakie County, Wyoming"
81411,Weston County,Wyoming,7208,7142,7075,7132,7134,7202,7228,6962,6895,6880,6752,6743,"Weston County, Wyoming"
81412,Newcastle city,Wyoming,3532,3504,3472,3475,3477,3502,3526,3398,3374,3378,3319,3314,"Newcastle city, Wyoming"
81413,Upton town,Wyoming,1100,1091,1082,1091,1096,1105,1108,1062,1054,1054,1033,1032,"Upton town, Wyoming"
81414,Balance of Weston County,Wyoming,2576,2547,2521,2566,2561,2595,2594,2502,2467,2448,2400,2397,"Balance of Weston County, Wyoming"

In [14]:
merged_df['population'] = ''
merged_df

,state,city,year,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list,city_state,population
0,Alabama,Birmingham,2012,57384.296557,67893.739624,8.878474,9.725227,12.656339,0.940236,0.196265,"Birmingham, Alabama",
1,Alabama,Birmingham,2013,66344.273746,74351.422040,9.032205,10.543582,13.532547,0.936129,0.231281,"Birmingham, Alabama",
2,Alabama,Birmingham,2014,70098.425993,81849.202413,8.996390,10.369037,12.836051,0.923832,0.187699,"Birmingham, Alabama",
3,Alabama,Birmingham,2015,79729.725885,90792.503567,9.851038,13.921368,16.484954,0.936096,0.205693,"Birmingham, Alabama",
4,Alabama,Birmingham,2016,80679.375047,90163.174711,10.227933,14.834154,18.202681,0.939088,0.213592,"Birmingham, Alabama",
...,...,...,...,...,...,...,...,...,...,...,...,...
2700,Wisconsin,Wausau,2017,99134.194352,112889.297348,6.950166,7.988636,9.498069,0.944456,0.169535,"Wausau, Wisconsin",
2701,Wisconsin,Wausau,2018,109080.960756,124096.489547,6.203488,7.738676,7.291096,0.959429,0.180666,"Wausau, Wisconsin",
2702,Wisconsin,Wausau,2019,116721.181818,128579.170608,6.478788,7.570946,7.135531,0.978557,0.267435,"Wausau, Wisconsin",
2703,Wisconsin,Wausau,2020,138387.524242,139785.266904,6.606061,8.330961,6.773723,0.983344,0.321587,"Wausau, Wisconsin",
2704,Wisconsin,Wausau,2021,177826.563518,179975.070312,6.123779,7.453125,5.573333,0.998283,0.449625,"Wausau, Wisconsin",

In [15]:
merged_df.to_csv('merged_df.csv')

In [16]:
census_df2.to_csv('census.csv')