In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/redfin-housing-market-data/zip_code_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/state_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/neighborhood_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/us_national_market_tracker.tsv000
/kaggle/input/redfin-housing-market-data/county_market_tracker.tsv000

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# neighborhood market tracker
nmt_data = '/kaggle/input/redfin-housing-market-data/neighborhood_market_tracker.tsv000'
nmt_df = pd.read_csv(nmt_data, sep='\t')

In [4]:
nmt_df['year'] = nmt_df['period_begin'].astype(str).str[:4]
nmt_clean_df = nmt_df[['city', 'state', 'state_code', 'parent_metro_region','year', 'property_type', 'median_sale_price', 'median_list_price',  'homes_sold',   'new_listings',  'inventory', 'avg_sale_to_list', 'sold_above_list']]

In [5]:
nmt_clean_df['city_state'] = nmt_clean_df['city'] + ', ' + nmt_clean_df['state_code']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
metro_city_df = nmt_clean_df.copy()

In [7]:
metro_city_df[metro_city_df['parent_metro_region'] == metro_city_df['city_state']]

,city,state,state_code,parent_metro_region,year,property_type,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list,city_state
3,Phoenix,Arizona,AZ,"Phoenix, AZ",2019,Townhouse,185000.0,185000.0,7.0,7.0,2.0,0.959808,0.285714,"Phoenix, AZ"
4,Rochester,Minnesota,MN,"Rochester, MN",2016,Multi-Family (2-4 Unit),180000.0,NaN,1.0,NaN,NaN,0.947368,0.000000,"Rochester, MN"
5,Tucson,Arizona,AZ,"Tucson, AZ",2017,All Residential,155000.0,157500.0,15.0,16.0,19.0,0.983203,0.266667,"Tucson, AZ"
11,Columbus,Ohio,OH,"Columbus, OH",2016,All Residential,131000.0,131900.0,24.0,19.0,11.0,0.999819,0.333333,"Columbus, OH"
12,Oxnard,California,CA,"Oxnard, CA",2019,Multi-Family (2-4 Unit),797500.0,872500.0,4.0,6.0,4.0,1.012729,0.500000,"Oxnard, CA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9002868,New Castle,Pennsylvania,PA,"New Castle, PA",2015,All Residential,65950.0,45450.0,1.0,10.0,14.0,0.943491,0.000000,"New Castle, PA"
9002869,Memphis,Tennessee,TN,"Memphis, TN",2019,All Residential,412000.0,389000.0,2.0,3.0,1.0,0.964286,0.000000,"Memphis, TN"
9002870,Charlotte,North Carolina,NC,"Charlotte, NC",2020,All Residential,260000.0,194450.0,1.0,4.0,4.0,1.040004,1.000000,"Charlotte, NC"
9002873,Houston,Texas,TX,"Houston, TX",2021,All Residential,455000.0,431944.0,61.0,70.0,13.0,1.023181,0.704918,"Houston, TX"
9002880,Baltimore,Maryland,MD,"Baltimore, MD",2018,Single Family Residential,249000.0,NaN,1.0,NaN,NaN,1.000000,0.000000,"Baltimore, MD"

In [8]:
metro_city_df = metro_city_df[['city', 'state', 'year', 'property_type', 'median_sale_price', 'median_list_price',  'homes_sold',   'new_listings',  'inventory', 'avg_sale_to_list', 'sold_above_list']]
final_metro_city_df = metro_city_df.sort_values(by=['state','city','year'])
final_metro_city_df

,city,state,year,property_type,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
38094,Adamsville,Alabama,2012,All Residential,4600.0,11900.0,1.0,1.0,1.0,NaN,0.0
4038307,Adamsville,Alabama,2012,All Residential,17025.0,NaN,1.0,NaN,NaN,0.597368,0.0
5846504,Adamsville,Alabama,2012,Single Family Residential,4600.0,11900.0,1.0,1.0,1.0,NaN,0.0
8078014,Adamsville,Alabama,2012,Single Family Residential,17025.0,NaN,1.0,NaN,NaN,0.597368,0.0
2521595,Adamsville,Alabama,2013,Single Family Residential,10500.0,NaN,1.0,NaN,NaN,0.882353,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8553236,Wilmot,Wisconsin,2020,All Residential,230000.0,238900.0,1.0,2.0,2.0,0.966793,0.0
2952424,Wilmot,Wisconsin,2021,All Residential,160000.0,165000.0,1.0,1.0,NaN,0.969697,0.0
3863632,Wilmot,Wisconsin,2021,Single Family Residential,234500.0,NaN,1.0,NaN,NaN,0.977491,0.0
8126220,Wilmot,Wisconsin,2021,Single Family Residential,160000.0,165000.0,1.0,1.0,NaN,0.969697,0.0
8820116,Wilmot,Wisconsin,2021,All Residential,234500.0,NaN,1.0,NaN,NaN,0.977491,0.0